html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1e293b, #0f172a);
  display: grid;
  place-items: center;
}


.container {
  width: 90%;
  max-width: 1250px;
  background: rgba(255, 255, 255, 0.97);
  border-radius: 18px;
  padding: 35px 30px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  animation: fadeIn  ease;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  font-size: 40px;
  font-weight: 1000;
  color: #333;
}


.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
  margin-bottom: 25px;
  width: 100%;
}


.input-group {
  position: relative;
  display: flex;
  align-items: ce;
}

.input-group input {
  padding: 12px 12px 12px 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f9f9ff;
  font-size: 14px;
  outline: none;
  transition: all 0.3s ease;
  width: 160px;
}

.input-group input:focus {
  border-color:#667eea;
  box-shadow: 0 0 8px rgba(102, 126, 234, 0.4);
}


button {
  padding: 10px 18px;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:first-of-type {
  background: linear-gradient(135deg,#667eea, #5a67d8);
  color: white;
}

button:nth-of-type(2) {
  background: #e2e8f0;
  color: #333;
}

table {
  margin: 8px auto;
  width: 95%;
  max-width: 900px;
  border-collapse: collapse;
  table-layout: auto; 
  font-size: 25px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  overflow: hidden;
}


th {
  background: rgba(102, 126, 234, 0.9);
  color: white;
  padding: 8px 12px;  
  text-align: center;
  font-weight: 500;
  border-right: 1px solid rgba(255,255,255,0.15);
}


td {
  padding: 8px 12px; 
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-right: 1px solid rgba(0,0,0,0.05);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


th:last-child,
td:last-child {
  border-right: none;
}

tr:hover td {
  background: rgba(255, 255, 255, 0.35);
}


th:nth-child(1), td:nth-child(1) { width: auto; }  
th:nth-child(2), td:nth-child(2) { width: auto; }  
th:nth-child(3), td:nth-child(3) { width: auto; }  
th:nth-child(4), td:nth-child(4) { width: auto; }  
th:nth-child(5), td:nth-child(5) { width: auto; }  


table td button {
  padding: 12px 20px !important;
  font-size: 18px !important;
  border-radius: 8px !important;
  margin: 0 6px !important;
  font-weight: 600;
}



.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.pagination button {
  background: #667eea;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}